@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700&display=swap');
@import "variables";

body {
  margin: 0;
  padding: 0;
  color: #222222;
  font-family: 'Lato', sans-serif;
}

.container {
  width: 1140px;
  margin: auto;
}
.header {
  height: 100px;
  display: flex;
  align-items: center;
    &__cart {
      margin-left: auto;
      margin-right: 26px;

      button {
        background-color: #ffffff;
        border: none;
        outline: none;
        cursor: pointer;
      }
    }
    &__account-bar {
      border: none;
      outline: none;
      width: 130px;
      line-height: 38px;
      border-radius: 3px;
      background-color: $mainColor;
      padding-left: 19px;
      color: #ffffff;
      font-size: 15px;
      font-weight: 400;
      
      i {
        padding-left: 10px;
        margin-right: 3px;
      }
    }
}

.logo {
  width: 165px;
  line-height: 51px;
  text-transform: uppercase;
  background: url("../../assets/img/logo.png") no-repeat;
  background-position: 5px -2px;
  background-blend-mode: overlay;
  font-size: 27px;
  padding-left: 72px;
}

.logo,
.logo:active,
.logo:hover {
  text-decoration: none;
  color: #222222;
}

.logo {
    span {
      color:$mainColor;
      font-weight: 700;
    }
}

.search {
  height: 38px;
  display: flex;
  align-items: center;
  border-radius: 3px;
  border: 1px solid #e6e6e6;
  overflow: hidden;
  font-size: 14px;
    &__browse{
      padding: 14px;
      background-color: #f9f9f9;
      line-height: 38px;
      border: none;
      color: #7c7c7c;
      outline: none;
      cursor: pointer;
    }
    &__browse option i {
      color: #838383;
    }
}

.header .search input {
  height: inherit;
  border: none;
  outline: none;
  overflow: hidden;
  padding: 14px 16px;
  border-left: 1px solid #e6e6e6;
  border-right: 1px solid #e6e6e6;
}



.header .search button:last-child {
  border: none;
  outline: none;
  height: inherit;
  background: none;
  padding: 12px;
  color: #a4a4a4;
  
}
.header__account-bar{
  cursor: pointer;
  transition-duration: .3s;
  &:hover{
    background:$mainHover;
  }
 
}
.headerLine {
  width: 1600px;
  margin: 0 auto;
  border-bottom: 1px solid #ececec;
}

.topNav {
  height: 51px;
  font-weight: 700;
  font-size: 14px;
  display: flex;
  justify-content: center;
  align-items: center;
    a {
      text-transform: uppercase;
      text-decoration: none;
      color: #222222;
      padding: 16px 0;
    }
      a:hover {
        color: $mainColor;
        padding-top: 18px;
        border-bottom: 2px solid $mainColor;
    }
      a:not(:last-child) {
    margin-right: 46px;
  }
}



.headerCart{
  height: 40px;
  display: flex;
  margin-left: auto;
  .btn_col{
    margin-left: 10px;
    border: none;
    outline: none;
    background-color: #ffffff;
    cursor: pointer;
    background: url(../../assets/img/cart.png);
  }
}
.invisible {
  display: none;
}
#basket {
  background: #fff;
  padding: 10px;
  margin-top: 50px;
}
#basket-toggler {
  width: 50px;
  height: 35px;
  background-image: url('../../assets/img/cart.png');
  background-repeat: no-repeat;
  background-position: 0 5px;
}
.dropdown .btn-lg {
  position: relative;
  padding: 0.15rem .75rem;
  color: #222222;
  font-size: 14px;
  font-weight: 300;
  line-height: 32px; }
.dropdown .dropdown-menu {
  /* background-color: #ffffff; */
  width: 250px;
  }
  .dropdown .dropdown-menu div {
    color: #232323;
    font-size: 14px;
    font-weight: 400;
    line-height: 32px;
    text-transform: uppercase;
    letter-spacing: 0.35px;
    margin: 0 1.5rem;
    border-bottom: 1px solid #ececec;
    width: auto;
    padding: 1rem 0 0 0; }
    .dropdown .dropdown-menu div:hover {
      background-color: #ffffff; }
    .dropdown .dropdown-menu div:first-child {
      padding-top: 0; }
  .dropdown .dropdown-menu div:first-child {
    padding-top: 0; }
  .dropdown .dropdown-menu a {
    color: #4f4f4f;
    font-size: 14px;
    font-weight: 400;
    line-height: 28px;
    letter-spacing: 0.35px;
    padding: 0.2rem 2rem; }

.dropdown-toggle::after {
  color: #838383;
  font-weight: 400;
  line-height: 2rem;
  vertical-align: .150em; }

.dropdown:last-child button, .dropdown:nth-child(2) button {
  border-right: 1px solid #f16d7f;
  background-color: #f16d7f;
  color: #ffffff; }
  .dropdown:last-child button:hover, .dropdown:nth-child(2) button:hover {
    background-color: #cccccc;
    color: #222222; }
.dropdown:last-child .dropdown-toggle::after, .dropdown:nth-child(2) .dropdown-toggle::after {
  color: #ffffff; }
.dropdown:last-child .dropdown-menu, .dropdown:nth-child(2) .dropdown-menu {
  padding: 0; }
  .dropdown:last-child .dropdown-menu button:hover, .dropdown:nth-child(2) .dropdown-menu button:hover {
    background-color: #cccccc;
    color: #222222; }

.btn-secondary {
  border-radius: 3px;
  border: 1px solid #e6e6e6;
  background-color: #f6f6f6;
  border-right: none; }
  .btn-secondary:hover {
    color: #fff;
    background-color: #f16d7f;
    border-color: #f16d7f; }

.btn-secondary:not(:disabled):not(.disabled).active:focus, .btn-secondary:not(:disabled):not(.disabled):active:focus, .show > .btn-secondary.dropdown-toggle:focus {
  box-shadow: none; }

.btn-secondary:not(:disabled):not(.disabled).active, .btn-secondary:not(:disabled):not(.disabled):active, .show > .btn-secondary.dropdown-toggle {
  background-color: #f16d7f;
  border-color: #f16d7f; }

.form-control {
  border-radius: 0;
  border-bottom: 1px solid #e6e6e6;
  border-top: 1px solid #e6e6e6; }
  .form-control:focus {
    color: #495057;
    background-color: #fff;
    border-color: #f16d7f;
    outline: 0;
    box-shadow: none; }
  .form-control::placeholder {
    color: #a4a4a4;
    font-size: 14px;
    font-weight: 300;
    line-height: 32px; }

.btn-outline-secondary {
  color: #a4a4a4;
  border-color: #e6e6e6;
  border-left: none; }
  .btn-outline-secondary:hover {
    color: #fff;
    background-color: #f16d7f;
    border-color: #f16d7f; }

.btn-outline-secondary:not(:disabled):not(.disabled).active:focus, .btn-outline-secondary:not(:disabled):not(.disabled):active:focus, .show > .btn-outline-secondary.dropdown-toggle:focus {
  box-shadow: none; }

.btn-outline-secondary:not(:disabled):not(.disabled).active, .btn-outline-secondary:not(:disabled):not(.disabled):active, .show > .btn-outline-secondary.dropdown-toggle {
  color: #fff;
  background-color: #f16d7f;
  border-color: #f16d7f; }

.form-control:focus + .input-group-append > button {
  border-color: #f16d7f; }

.burgerMenu {
  font-size: 20px; }

.headerLine {
  border-bottom: 1px solid #ececec; }

.nav {
  padding-left: 15px; }
  .nav .navAll:nth-child(3) .dropNav {
    right: 1px; }
  .nav .navAll:nth-child(4) .dropNav {
    right: 1px; }
  .nav .navAll:nth-child(5) .dropNav {
    right: 1px; }
  .nav .navAll:nth-child(6) .dropNav {
    right: 1px; }
  .nav .navAll:nth-child(7) .dropNav {
    right: 1px; }
  .nav .navAll .dropNav {
    display: none;
    position: relative;
    border: 1px solid #cccccc; }
    .nav .navAll .dropNav .dropNavIn {
      display: flex;
      flex-direction: column;
      z-index: 5;
      background-color: #ffffff;
      padding-bottom: 1rem; }
      .nav .navAll .dropNav .dropNavIn div {
        color: #232323;
        font-size: 14px;
        font-weight: 700;
        line-height: 32px;
        text-transform: uppercase;
        letter-spacing: 0.35px;
        margin-left: 1.5rem;
        border-bottom: 1px solid #ececec;
        width: auto;
        padding-top: 1rem;
        padding-right: 180px;
        margin-right: 1.5rem; }
      .nav .navAll .dropNav .dropNavIn:last-child {
        padding-right: 0;
        margin-left: 0; }
        .nav .navAll .dropNav .dropNavIn:last-child a:last-child {
          position: relative;
          padding-top: 1rem; }
          .nav .navAll .dropNav .dropNavIn:last-child a:last-child img:hover {
            outline: 1px solid #f16d7f; }
          .nav .navAll .dropNav .dropNavIn:last-child a:last-child div {
            position: absolute;
            color: #ffffff;
            font-size: 22px;
            font-weight: 700;
            line-height: 28px;
            text-transform: uppercase;
            border-bottom: none;
            bottom: 10px;
            left: 150px;
            padding-right: 0; }
          .nav .navAll .dropNav .dropNavIn:last-child a:last-child:hover {
            background-color: #ffffff; }
      .nav .navAll .dropNav .dropNavIn a {
        color: #4f4f4f;
        font-size: 14px;
        font-weight: 400;
        line-height: 28px;
        letter-spacing: 0.35px;
        text-decoration: none;
        border-bottom: none;
        padding: 0.2rem 1.5rem;
        text-transform: capitalize; }
        .nav .navAll .dropNav .dropNavIn a:hover {
          background-color: #cccccc; }
      .nav .navAll .dropNav .dropNavIn:first-child a {
        padding-top: 0.3rem; }
  .nav .navAll:hover .dropNav {
    display: flex;
    position: absolute; }
  .nav a {
    color: #222222;
    font-size: 14px;
    font-weight: 700;
    line-height: 26px;
    text-transform: uppercase;
    padding-bottom: 20px; }
    .nav a:hover {
      color: #f16d7f;
      border-bottom: 3px solid #f16d7f;
      padding-bottom: calc(20px - 3px); }


.label_cart_checkbox {
    /*outline: 1px solid red;*/
    width: 39px;
    height: 32px;
    position: absolute;
    top: 0;
    left: 0;
}

#cart_checkbox {
    position: absolute;
    visibility: hidden;
    left: -99999999px;
}

#cart_checkbox:checked ~ div {
    display: block;
    z-index: 2;
}


.headerCart {
  position: relative; }
  /*.headerCart:hover .headerCartWrap {
    display: block;
    z-index: 2; } */
  .headerCart .headerCartWrap {
    position: absolute;
    width: 260px;
    left: -40px;
 }
    @media (max-width: 650px) {
      .headerCart .headerCartWrap {
        left: -120px; } }
    .headerCart .headerCartWrap .headerCartWrapBlock {
      height: 15px; }
    .headerCart .headerCartWrap .headerCartWrapInAll {
      background-color: #ffffff;
      padding: 1rem 1rem;
      border: 1px solid rgba(0, 0, 0, 0.15);
      border-radius: 5px; }
      .headerCart .headerCartWrap .headerCartWrapInAll .headerCartWrapIn {
        background: #ffffff;
        margin-bottom: 1rem; }
      .headerCart .headerCartWrap .headerCartWrapInAll div {
        justify-content: space-between;
        align-items: center; }
        .headerCart .headerCartWrap .headerCartWrapInAll div a:last-child {
          color: #c0c0c0;
          font-size: 16px;
          font-weight: 400;
          text-transform: uppercase; }
          .headerCart .headerCartWrap .headerCartWrapInAll div a:last-child:hover {
            color: #f16d7f; }
        .headerCart .headerCartWrap .headerCartWrapInAll div a {
          text-decoration: none; }
          .headerCart .headerCartWrap .headerCartWrapInAll div a div {
            font-size: 12px;
            font-weight: 400;
            text-transform: uppercase;
            justify-content: space-around;
            display: flex;
            flex-direction: column;
            align-items: start; }
            .headerCart .headerCartWrap .headerCartWrapInAll div a div:first-child {
              color: #222222;
              font-weight: 700; }
            .headerCart .headerCartWrap .headerCartWrapInAll div a div:last-child {
              color: #f16d7f; }
            .headerCart .headerCartWrap .headerCartWrapInAll div a div span {
              color: #e4af48; }
            .headerCart .headerCartWrap .headerCartWrapInAll div a div .headerCartWrapPrice {
              color: #f16d7f;
              display: flex;
              justify-content: flex-start;
              align-items: center;
              flex-direction: row; }
              .headerCart .headerCartWrap .headerCartWrapInAll div a div .headerCartWrapPrice span {
                text-transform: lowercase;
                font-size: 10px;
                padding: 0 0.3rem; }
          .headerCart .headerCartWrap .headerCartWrapInAll div a img {
            padding-right: 0.5rem; }
      .headerCart .headerCartWrap .headerCartWrapInAll .headerCartWrapTotalPrice {
        display: flex;
        justify-content: space-between;
        color: #222222;
        font-size: 16px;
        font-weight: 700;
        text-transform: uppercase; }

.productsButtonIndex {
  width: -webkit-fill-available;
  margin-top: 1rem; }
  .productsButtonIndex:last-child {
    color: #4a4a4a;
    font-size: 14px;
    font-weight: 700;
    text-transform: uppercase;
    border: 1px solid #eaeaea;
    background-color: #ffffff; }