$colorButtonBG: #f16d7f;
$colorButtonBGHover: #ef5b70;
$colorButtonBorder: #ef5b70;
$colorButtonText: #ef5b70;
$colorFont: #f16d7f;
$colorBG: #f16d7f;
$colorProductHover: #ffffff;
$colorIconBGHover: #f16d7f;
$colorSliderBGSinglePage: #f7f7f7;
$colorHeaderCartOutline: #cccccc;
$colorLinkHeader: #222222;
$colorLinkHeaderHover: #f16d7f;
$colorStarProduct: #e4af48;
$colorBasketPrice: #f16d7f;
$colorBasketBtnBorder: #222222;
$colorBasketBtnBorderHover: #f16d7f;
$colorBasketBtnTextHover: #f16d7f;
$colorTopNavLinkHover: #f16d7f;